Repository alexandertataurov/fin-model: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format

.pre-commit-config.yaml:

repos:
  # Frontend hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  # Frontend linting and formatting
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format
        name: Frontend Prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Backend hooks
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        files: ^backend/.*\.py$
        args: [--line-length=88]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^backend/.*\.py$
        args: [--profile=black]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        files: ^backend/.*\.py$
        args:
          - "--max-line-length=88"
          - "--extend-ignore=E203,W503"

feat: add async task processing
  README.md
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/lean_financial.py
  backend/app/api/v1/endpoints/tasks.py
  backend/app/core/celery_app.py
  backend/app/tasks/lean_financial.py
Due: none

refactor admin store into slices
  frontend/src/components/Admin/OverviewSection.tsx
  frontend/src/components/Admin/__tests__/OverviewSection.test.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/stores/__tests__/adminStore.test.ts
  frontend/src/stores/admin/auditStore.ts
  frontend/src/stores/admin/index.ts
  frontend/src/stores/admin/logsStore.ts
  frontend/src/stores/admin/overviewStore.ts
  frontend/src/stores/admin/types.ts
  frontend/src/stores/adminStore.ts
Due: frontend-lint, frontend-format

test: add createAsyncResource tests
  frontend/src/stores/__tests__/utils.test.ts
  frontend/src/stores/adminStore.ts
  frontend/src/stores/utils.ts
Due: frontend-lint, frontend-format

refactor: extract admin dashboard tabs
  frontend/src/components/AdminDashboard/HealthTab.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/components/AdminDashboard/OverviewTab.tsx
  frontend/src/components/AdminDashboard/__tests__/HealthTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.filters.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/OverviewTab.metrics-alerts.test.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/__tests__/AdminDashboard.health-tab.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.logs-filters.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.logs.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.metrics-alerts.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.overview-maintenance.test.tsx
Due: frontend-lint, frontend-format

refactor: modularize admin services
  frontend/src/components/Admin/DataManagement.tsx
  frontend/src/components/Admin/MaintenanceTools.tsx
  frontend/src/components/Admin/SystemMonitoring.tsx
  frontend/src/components/Admin/UserManagement.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/__tests__/AdminDashboard.audit-filters.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.audit-permissions.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.auto-refresh.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.health-tab.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.logs-filters.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.logs.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.maintenance.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.metrics-alerts.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.overview-maintenance.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.robustness.test.tsx
  frontend/src/services/__tests__/adminApi.contract.test.ts
  frontend/src/services/__tests__/adminApi.responses.test.ts
  frontend/src/services/admin/index.ts
  frontend/src/services/admin/logs.ts
  frontend/src/services/admin/maintenance.ts
  frontend/src/services/admin/reports.ts
  frontend/src/services/admin/system.ts
  frontend/src/services/admin/users.ts
  frontend/src/services/adminApi.ts
  frontend/src/stores/__tests__/adminStore.test.ts
  frontend/src/stores/adminStore.ts
Due: frontend-lint, frontend-format

feat: add paginated user management
  backend/tests/test_admin_endpoints.py
  frontend/src/components/Admin/UserManagement.tsx
  frontend/src/services/__tests__/adminApi.responses.test.ts
  frontend/src/services/adminApi.ts
Due: frontend-lint, frontend-format

feat(ui): add reusable confirm dialog
  frontend/src/components/Admin/DataManagement.tsx
  frontend/src/components/Parameters/ParameterList.tsx
  frontend/src/components/Scenarios/ScenarioManager.tsx
  frontend/src/components/ui/ConfirmDialog.tsx
  frontend/src/components/ui/__tests__/ConfirmDialog.test.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/__tests__/AdminDashboard.overview-maintenance.test.tsx
Due: frontend-lint, frontend-format

feat: improve websocket reliability
  frontend/src/components/Charts/RealtimeChart.tsx
  frontend/src/components/Dashboard/RealtimeMetrics.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/hooks/useRealtimeDashboard.ts
  frontend/src/services/websocket.ts
Due: frontend-lint, frontend-format

chore: Resolve merge conflicts.
  frontend/src/stores/adminStore.ts
Due: frontend-lint, frontend-format

Fix undefined name lint errors
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/admin.py
Due: none

chore: clean admin api imports
  frontend/src/components/Admin/DashboardCustomization.tsx
  frontend/src/components/Admin/MaintenanceTools.tsx
  frontend/src/components/Admin/OverviewSection.tsx
  frontend/src/components/Admin/SystemMonitoring.tsx
  frontend/src/pages/__tests__/AdminDashboard.access-control.test.tsx
  frontend/src/services/adminApi.ts
  frontend/src/stores/__tests__/adminStore.test.ts
  frontend/src/stores/admin/auditStore.ts
  frontend/src/stores/admin/index.ts
  frontend/src/stores/admin/logsStore.ts
  frontend/src/stores/adminStore.ts
  frontend/src/test/setup.ts
  frontend/src/utils/websocket-error-handler.ts
Due: frontend-lint, frontend-format

Fix critical issues across services and scripts
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/admin/system.py
  backend/app/services/realtime_triggers.py
  backend/app/services/recalculation_engine.py
  frontend/scripts/enforce-story-meta.ts
  frontend/scripts/generate-story.ts
  frontend/scripts/generate-tokens.ts
  frontend/src/design-system/components/Chart.tsx
  frontend/src/main.tsx
  frontend/src/services/oauthApi.ts
  requirements.txt
Due: frontend-lint, frontend-format

fix: import overview tab in admin dashboard
  frontend/src/pages/AdminDashboard.tsx
Due: frontend-lint, frontend-format

refactor: reduce component complexity
  frontend/src/components/Admin/DashboardCustomization.tsx
  frontend/src/components/BalanceSheet/LiabilitiesAnalysis.tsx
  frontend/src/design-system/stories/ResponsiveDemos.stories.disabled.tsx
Due: frontend-lint, frontend-format

issue: adminStore unresolced merges
  frontend/src/stores/adminStore.ts
Due: frontend-lint, frontend-format

chore: fix lint warnings
  frontend/src/components/Admin/UserManagement.tsx
  frontend/src/components/Admin/__tests__/OverviewSection.test.tsx
  frontend/src/components/Charts/CustomTooltip.tsx
  frontend/src/components/Charts/PieChart.tsx
  frontend/src/components/CoreFinancialModeling/CoreFinancialModeling.tsx
  frontend/src/components/CoreFinancialModeling/DCFValuation.tsx
  frontend/src/components/CoreFinancialModeling/FileUpload.tsx
  frontend/src/components/Dashboard/DashboardGrid.tsx
  frontend/src/components/Dashboard/FinancialDashboard.tsx
  frontend/src/components/FinancialStatements/BalanceSheetView.tsx
  frontend/src/components/FinancialStatements/CashFlowView.tsx
  frontend/src/components/FinancialStatements/DCFView.tsx
  frontend/src/components/Parameters/ImpactAnalysis.tsx
  frontend/src/components/Parameters/ParameterExport.tsx
  frontend/src/components/Parameters/ParameterHistory.tsx
  frontend/src/components/Parameters/ParameterManager.tsx
  frontend/src/components/Parameters/ParameterTemplates.tsx
  frontend/src/components/Parameters/ScenarioManager.tsx
  frontend/src/components/layout.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/design-system/components/Chart.tsx
  frontend/src/design-system/components/Sidebar.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/AssetLifecycle.tsx
  frontend/src/pages/BalanceSheetDashboard.tsx
  frontend/src/pages/CashFlowDashboard.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PnLDashboard.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/stores/adminStore.ts
  frontend/src/test/setup.ts
Due: frontend-lint, frontend-format

Fix admin router import and optimize user activity
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/database.py
  backend/app/api/v1/endpoints/admin/users.py
  backend/app/db/__init__.py
  backend/app/db/session.py
  backend/app/services/maintenance_service.py
  backend/tests/conftest.py
Due: none

Pin actions and harden SQL execution
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/storybook.yml
  backend/alembic/versions/006_add_advanced_indexes.py
  backend/alembic/versions/008_add_enhanced_auth_tables.py
  backend/alembic/versions/9dd5d1ac7ef0_fix_duplicate_indexes.py
  backend/app/services/recalculation_engine.py
  backend/app/tasks/maintenance.py
Due: none

refactor: extract shared utilities and reduce duplication
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/admin/system.py
  backend/app/schemas/admin.py
  frontend/src/components/Charts/CurrencyBarChart.tsx
  frontend/src/components/Charts/RealtimeChart.tsx
  frontend/src/components/Dashboard/RealtimeMetrics.tsx
  frontend/src/components/Parameters/LoadingState.tsx
  frontend/src/components/Parameters/ParameterHistory.tsx
  frontend/src/components/Parameters/ParameterTemplates.tsx
  frontend/src/components/auth/FormStatusAlert.tsx
  frontend/src/components/tabs/BalanceTabEnhanced.tsx
  frontend/src/components/tabs/CashFlowTabEnhanced.tsx
  frontend/src/hooks/useWebSocketSubscription.ts
  frontend/src/pages/Register.tsx
  frontend/src/pages/ResetPassword.tsx
Due: frontend-lint, frontend-format

refactor: simplify admin store re-export
  frontend/src/stores/adminStore.ts
Due: frontend-lint, frontend-format

fix: resolve lint issues in admin store and websocket hook
  frontend/src/hooks/useWebSocketSubscription.ts
  frontend/src/stores/adminStore.ts
Due: frontend-lint, frontend-format

Align Starlette version with FastAPI
  requirements.txt
Due: none

refactor: simplify equity icon selection
  frontend/src/components/BalanceSheet/EquityTrend.tsx
Due: frontend-lint, frontend-format

chore: harden file access and logging
  backend/alembic/versions/007_add_missing_user_columns.py
  backend/app/api/v1/endpoints/admin/logs.py
  backend/app/api/v1/endpoints/admin/system.py
  backend/app/api/v1/endpoints/websocket.py
  backend/app/services/audit_service.py
  backend/app/services/auth_service.py
  backend/app/services/dashboard_metrics.py
  frontend/scripts/optimize-build.js
  frontend/scripts/test-build-performance.js
Due: frontend-lint, frontend-format

chore: sanitize cleanup paths
  backend/app/api/v1/endpoints/admin/system.py
  frontend/scripts/optimize-build.js
Due: frontend-lint, frontend-format

refactor: reuse admin system utilities
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/admin/system.py
  backend/app/services/rate_limit_service.py
  frontend/src/services/adminApi.ts
Due: frontend-lint, frontend-format

refactor: use design system components in admin forms
  frontend/src/components/Admin/DataManagement.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.filters.test.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/__tests__/AdminDashboard.logs-filters.test.tsx
Due: frontend-lint, frontend-format

refactor: extract reusable log filters
  frontend/src/components/AdminDashboard/LogFilterForm.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/components/AdminDashboard/__tests__/LogFilterForm.test.tsx
  frontend/src/design-system/components/DatePicker.tsx
  frontend/src/pages/AdminDashboard.tsx
Due: frontend-lint, frontend-format

fix: remove duplicate audit log import
  backend/app/api/v1/endpoints/admin.py
Due: none

feat: add log filter form component, story, and hooks
  .pre-commit-config.yaml
  frontend/src/components/AdminDashboard/LogFilterForm.stories.tsx
  frontend/src/components/AdminDashboard/LogFilterForm.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/hooks/useAdminData.ts
  frontend/src/hooks/useLogFilters.ts
Due: frontend-lint, frontend-format

refactor: reduce log filter complexity
  frontend/src/pages/AdminDashboard.tsx
Due: frontend-lint, frontend-format

feat: expand design tokens
  docs/components-state-audit.md
  docs/tokens.md
  frontend/scripts/generate-tokens.ts
  frontend/src/design-system/components/Button.tsx
  frontend/src/design-system/tokens.json
  frontend/src/design-system/tokens.ts
Due: frontend-lint, frontend-format

Add contributing and RFC docs with PR template
  .github/pull_request_template.md
  README.md
  docs/README.md
  docs/contributing.md
  docs/rfc.md
Due: none

feat: generate tailwind config from design tokens
  docs/tailwind.md
  frontend/package.json
  frontend/tailwind.config.js
  scripts/generate-tailwind-config.ts
Due: frontend-lint, frontend-format

feat: add theme contrast validation and switcher
  docs/themes.md
  frontend/scripts/contrast-check.js
  frontend/src/design-system/theme-switcher.ts
  frontend/src/design-system/tokens/themes/dark.json
  frontend/src/design-system/tokens/themes/light.json
Due: frontend-lint, frontend-format

fix: resolve type-check issues
  frontend/src/components/Admin/DataManagement.tsx
  frontend/src/components/Admin/UserManagement.tsx
  frontend/src/components/Admin/__tests__/OverviewSection.test.tsx
  frontend/src/components/AdminDashboard/OverviewTab.tsx
  frontend/src/components/AdminDashboard/__tests__/HealthTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.filters.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/OverviewTab.metrics-alerts.test.tsx
  frontend/src/components/Charts/BarChart.tsx
  frontend/src/components/Charts/LineChart.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FinancialStatements/DCFView.tsx
  frontend/src/components/Parameters/ScenarioManager.tsx
  frontend/src/components/ui/__tests__/ConfirmDialog.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/services/__tests__/adminApi.responses.test.ts
  frontend/src/services/admin/users.ts
  frontend/src/stores/admin/auditStore.ts
  frontend/src/stores/admin/index.ts
  frontend/src/stores/admin/logsStore.ts
  frontend/src/stores/admin/overviewStore.ts
  frontend/src/stores/utils.ts
  frontend/src/test/setup.ts
Due: frontend-lint, frontend-format

chore(tokens): remove legacy token sources
  config/style-dictionary.json
  docs/build.md
  frontend/package.json
  frontend/scripts/generate-tokens.ts
  frontend/src/design-system/stories/AdvancedTheming.stories.tsx
  frontend/src/design-system/stories/DesignTokens.stories.tsx
  frontend/src/design-system/stories/Tokens.Pipeline.mdx
  frontend/src/design-system/tokens.json
  frontend/src/design-system/tokens.ts
  package-lock.json
  package.json
  tokens/borderRadius/base.json
  tokens/breakpoints/base.json
  tokens/colors/base.json
  tokens/shadows/base.json
  tokens/spacing/base.json
  tokens/typography/base.json
  tokens/zIndex/base.json
Due: frontend-lint, frontend-format

fix undefined auditFilters
  frontend/src/main.tsx
Due: frontend-lint, frontend-format

chore: update package.json scripts for token generation and Tailwind build
  frontend/package.json
Due: frontend-format

chore: update pnpm-lock.yaml to add ag-grid and styled-components dependencies
  frontend/pnpm-lock.yaml
Due: none
