Repository alexandertataurov/fin-model: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format

.pre-commit-config.yaml:

repos:
  # Frontend hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  # Frontend linting and formatting
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format
        name: Frontend Prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Backend hooks
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        files: ^backend/.*\.py$
        args: [--line-length=88]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^backend/.*\.py$
        args: [--profile=black]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        files: ^backend/.*\.py$
        args:
          - "--max-line-length=88"
          - "--extend-ignore=E203,W503"

Update frontend/src/design-system/stories/AdvancedTheming.stories.tsx
  frontend/src/design-system/stories/AdvancedTheming.stories.tsx
Due: frontend-lint, frontend-format

Update frontend/src/components/tabs/DCFTab.tsx
  frontend/src/components/tabs/DCFTab.tsx
Due: frontend-lint, frontend-format

Update frontend/src/contexts/NotificationContext.tsx
  frontend/src/contexts/NotificationContext.tsx
Due: frontend-lint, frontend-format

Update frontend/src/components/Scenarios/MonteCarloRunner.tsx
  frontend/src/components/Scenarios/MonteCarloRunner.tsx
Due: frontend-lint, frontend-format

Update frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/ForgotPassword.tsx
Due: frontend-lint, frontend-format

Update frontend/src/components/tabs/CashFlowTabEnhanced.tsx
  frontend/src/components/tabs/CashFlowTabEnhanced.tsx
Due: frontend-lint, frontend-format

chore(frontend): sort package.json
  frontend/package.json
Due: frontend-format

chore: add package manager metadata
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
Due: frontend-format

fix(frontend): resolve package.json merge conflict and clean up structure
  package.json
Due: none

chore(package.json): remove "type" field to streamline configuration
  package.json
Due: none

chore(frontend): remove pnpm-lock.yaml file to streamline dependency management
  frontend/pnpm-lock.yaml
Due: none

chore(frontend): update package.json and add package-lock.json for dependency management
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
Due: frontend-format

feat(migrations): add checks for existing tables before creating system_logs and maintenance_schedules
  backend/alembic_migrations/versions/d6c6cf259427_add_system_logs_and_maintenance_tables.py
  frontend/package.json
Due: frontend-format

chore(frontend): remove Storybook and Test Coverage Tracker documentation files
  CORS_WEBSOCKET_FIXES.md
  backend/app/api/v1/api.py
  frontend/STORYBOOK_README.md
  frontend/TEST_COVERAGE_TRACKER.md
  frontend/package-lock.json
  test_admin.py
Due: frontend-format

refactor(api): clean up import statements and streamline router inclusions for better readability
  backend/app/api/v1/api.py
Due: none

feat(docs): add AGENTS.MD for comprehensive development guidelines and project structure; simplify Tailwind CSS configuration with new simple config file
  AGENTS.MD
  frontend/src/App.tsx
  frontend/src/design-system/components/Label.tsx
  frontend/src/design-system/tokens.json
  frontend/tailwind.config.js
  frontend/tailwind.config.simple.js
Due: frontend-lint, frontend-format

refactor(frontend): consolidate Tailwind CSS configuration and update styles in index.css; modify email verification handler for improved type safety
  frontend/src/components/auth/EmailVerification.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
  frontend/tailwind.config.simple.js
Due: frontend-lint, frontend-format

chore(frontend): update netlify.toml to enable optional npm packages; add esbuild dependency in package.json and pnpm-lock.yaml
  frontend/netlify.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

refactor(workflows): enhance CI/CD workflows by introducing reusable components for frontend quality checks, database services, and Python setup; update commands for improved clarity and efficiency
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/reusable-database-services.yml
  .github/workflows/reusable-frontend-quality.yml
  .github/workflows/reusable-node-setup.yml
  .github/workflows/reusable-python-setup.yml
  AGENTS.MD
  backend/start.py
  nixpacks.toml
  railway.json
Due: none

fix(ci): add pre-production branch to workflow triggers
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/netlify-deploy.yml
Due: none

fix(ci): update pnpm version from 8 to 10 in all workflows to match local lockfile format
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/reusable-frontend-quality.yml
  .github/workflows/storybook.yml
Due: none

Fix Railway deployment: remove missing SQL file dependency, add nixpacks config for better numpy handling
  backend/start.py
  nixpacks.toml
Due: none

fix(schema): update fix_notification_schema to correctly rename 'type' column to 'notification_type' in notifications table; improve SQL query formatting for clarity
  backend/start.py
Due: none

Fix nixpacks configuration: specify Python provider and use python -m pip
  nixpacks.toml
Due: none

Fix lint errors and resolve parsing issues
  frontend/src/App.tsx
  frontend/src/components/Admin/UserManagement.tsx
  frontend/src/components/Scenarios/MonteCarloRunner.tsx
  frontend/src/components/tabs/CashFlowTabEnhanced.tsx
  frontend/src/components/tabs/DCFTab.tsx
  frontend/src/pages/ForgotPassword.tsx
Due: frontend-lint, frontend-format

Fix nixpacks.toml syntax: providers should be array not map
  nixpacks.toml
Due: none

Simplify deployment: use minimal nixpacks config and runtime.txt for Python version
  nixpacks.toml
  runtime.txt
Due: none

Fix start command: use python3 instead of virtual env path
  nixpacks.toml
Due: none

Remove nixpacks.toml, let Railway auto-detect Python from requirements.txt and runtime.txt
  nixpacks.toml
  railway.json
Due: none

Force Python detection: move Node.js files from root, add explicit nixpacks Python config
  frontend/package-lock.json.root
  frontend/package.json.root
  nixpacks.toml
Due: none

Revert package.json move, add .railwayignore to exclude Node.js files from Railway detection
  .railwayignore
  nixpacks.toml
  package-lock.json
  package.json
Due: none

Simplify nixpacks: let Railway handle pip installation automatically
  nixpacks.toml
Due: none

fix: address type-check issues
  frontend/src/components/AdminDashboard/LogFilterForm.stories.tsx
  frontend/src/components/Charts/BarChart.stories.tsx
  frontend/src/components/Charts/LineChart.stories.tsx
  frontend/src/components/Charts/PieChart.stories.tsx
  frontend/src/components/Charts/Theming.stories.tsx
  frontend/src/components/Charts/WaterfallChart.stories.tsx
  frontend/src/components/Scenarios/MonteCarloRunner.tsx
  frontend/src/design-system/stories/Tokens.Index.stories.tsx
  frontend/src/design-system/utils/tokenHelpers.ts
  frontend/src/hooks/useDesignTokens.ts
  frontend/src/pages/__tests__/AdminDashboard.robustness.test.tsx
  frontend/tsconfig.json
Due: frontend-lint, frontend-format

Fix module import: run start.py from root directory to find backend module
  nixpacks.toml
Due: none

Update default test command in reusable frontend quality workflow from "test:minimal:ci" to "test:ci"
  .github/workflows/reusable-frontend-quality.yml
Due: none

Sync railway.json start command with nixpacks fix
  railway.json
Due: none

Update frontend test command in CI workflow from "test:minimal:ci" to "test:ci"
  .github/workflows/ci.yml
Due: none

Update frontend dependencies and improve test structure
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/test-results.xml
Due: frontend-lint, frontend-format
