Repository alexandertataurov/fin-model: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

fix: Improve Excel file handling and WebAuthn challenge expiration logic
  backend/app/services/excel_parser.py
  backend/app/services/webauthn_service.py
  backend/tests/test_enhanced_auth.py
  backend/tests/test_integration.py
  backend/tests/test_main.py
  backend/tests/test_scheduled_tasks.py
  backend/tests/test_services_unit.py
Due: none

fix: Enhance database migration and index check logic in main.py
  Procfile
  main.py
Due: none

refactor: Simplify main.py startup process by removing database operations
  main.py
Due: none

refactor: Update fastapi_cache dependency and adjust schema configurations
  backend/app/core/cache.py
  backend/app/schemas/financial.py
  backend/app/schemas/report.py
  backend/main.py
  requirements.txt
Due: none

refactor: Update fastapi_cache dependency for improved caching
  backend/app/core/cache.py
  backend/main.py
  requirements.txt
Due: none

refactor: Enhance fastapi_cache import handling for compatibility
  backend/main.py
Due: none

feat: Enhance accessibility for chart components
  frontend/src/components/Charts/BarChart.tsx
  frontend/src/components/Charts/BaseChart.tsx
  frontend/src/components/Charts/LineChart.tsx
  frontend/src/components/Charts/PieChart.tsx
  frontend/src/components/__tests__/Charts.test.tsx
  frontend/src/components/__tests__/FileUpload.test.tsx
  frontend/src/test/test-utils.tsx
  uploads/2e312671-1c2f-4edb-b691-53f871c1d228.xlsx
  uploads/3bcfe76c-0ed3-4353-ad88-a6a702a6e861.xlsx
  uploads/a9ccfb7c-3633-46a9-b749-41f37004eeab.xlsx
  uploads/ae9f7cf6-3fb6-455f-86cb-dff18bd4cc04.xlsx
  uploads/b18e82ba-fb29-474b-97d1-0652a5f2cfe8.xlsx
  uploads/d60164ea-c23d-4a5d-b4a4-205778fa85f7.xlsx
Due: frontend-lint, frontend-format

refactor: Update fastapi_cache to fastapi_cache2 for improved caching
  backend/app/core/cache.py
  backend/main.py
  requirements.txt
Due: none

refactor: Update fastapi_cache2 handling for Railway environment
  backend/app/core/cache.py
  backend/main.py
  requirements.txt
Due: none

refactor: Update caching implementation to use Redis
  backend/app/core/cache.py
  backend/main.py
  frontend/src/components/__tests__/FileUpload.test.tsx
  frontend/src/components/auth/AuthGuard.test.tsx
  frontend/src/components/auth/__tests__/Login.test.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/test/a11y.test.tsx
  frontend/src/test/dashboard-integration.test.tsx
Due: frontend-lint, frontend-format

refactor: Re-enable fastapi-cache2 and update chart tests for accessibility
  frontend/src/components/__tests__/Charts.test.tsx
  frontend/src/components/__tests__/FileUpload.test.tsx
  frontend/src/components/auth/AuthGuard.test.tsx
  frontend/src/components/auth/__tests__/Login.test.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/test/a11y.test.tsx
  frontend/src/test/dashboard-integration.test.tsx
  frontend/src/utils/performance.test.tsx
  requirements.txt
Due: frontend-lint, frontend-format

test: Update chart tests for accessibility and improve performance tests
  frontend/src/components/__tests__/Charts.test.tsx
  frontend/src/components/auth/AuthGuard.test.tsx
  frontend/src/components/ui/hover-card.test.tsx
  frontend/src/test/a11y.test.tsx
  frontend/src/test/dashboard-integration.test.tsx
  frontend/src/utils/performance.test.tsx
Due: frontend-lint, frontend-format

refactor: Clean up accessibility test code and improve readability
  frontend/src/test/a11y.test.tsx
Due: frontend-lint, frontend-format

feat: Enhance testing configurations and performance optimizations
  frontend/package.json
  frontend/src/components/__tests__/FileUpload.test.tsx
  frontend/src/test/a11y.test.tsx
  frontend/src/test/dashboard-integration.test.tsx
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
  frontend/src/utils/performance.test.tsx
  frontend/vitest.config.minimal.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-format

refactor: Remove unnecessary import from accessibility test file
  frontend/src/test/a11y.test.tsx
Due: frontend-lint, frontend-format

refactor: Improve readability and formatting in dashboard integration tests
  frontend/src/test/dashboard-integration.test.tsx
Due: frontend-lint, frontend-format

feat: Implement comprehensive build optimizations for Netlify deployment
  .claude/settings.local.json
  frontend/.gitignore
  frontend/.npmrc
  frontend/BUILD_OPTIMIZATION.md
  frontend/NETLIFY_OPTIMIZATION_SUMMARY.md
  frontend/netlify.toml
  frontend/package.json
  frontend/scripts/optimize-build.js
  frontend/scripts/test-build-performance.js
  frontend/src/components/auth/AuthGuard.test.tsx
  frontend/src/test/a11y.test.tsx
  frontend/src/test/dashboard-integration.test.tsx
  frontend/src/test/test-utils.tsx
  frontend/src/utils/performance.test.tsx
  frontend/vite.config.netlify.ts
  frontend/vitest.config.minimal.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-format

chore: Remove outdated documentation and optimize build configurations
  .claude/settings.local.json
  .github/workflows/ci.yml
  README.md
  backend/docs/SECURITY_AUDIT.md
  docs/AGENTS.md
  docs/PRD_Login_Reports_Components.md
  docs/PRD_V1.md
  docs/PRD_V2.md
  docs/README.md
  frontend/.npmrc
  frontend/docs/Attributions.md
  frontend/docs/BUILD_OPTIMIZATION.md
  frontend/docs/DESIGN_AUDIT_REPORT.md
  frontend/docs/NETLIFY_OPTIMIZATION_SUMMARY.md
  frontend/docs/OPTIMIZATION_RESULTS.md
  frontend/docs/PAGES_FUNCTIONAL_IMPROVEMENT_PRD.md
  frontend/docs/README.md
  frontend/docs/color-migration-guide.md
  frontend/docs/debug-deployment.md
  frontend/docs/developer-guide.mdx
  frontend/netlify.debug.toml
  frontend/package-ci.json
  frontend/pnpm-lock.yaml
  frontend/scripts/analyze-deps.js
  frontend/src/components/auth/AuthGuard.test.tsx
  frontend/src/test/dashboard-integration.test.tsx
  frontend/src/utils/performance.test.tsx
  frontend/vite.config.netlify.debug.ts
  frontend/vite.config.netlify.ts
  frontend/vite.config.prod.ts
  frontend/vite.config.ts
  netlify.toml
Due: frontend-lint, frontend-format

chore: Update build configurations and optimize dependency management
  .claude/settings.local.json
  .github/workflows/ci.yml
  frontend/package-lock-ci.json
  frontend/package.json.backup
  frontend/vite.config.netlify.ts
  netlify.toml
Due: frontend-lint, frontend-format

chore: Update CI workflow and Vite configuration for improved dependency management
  .github/workflows/ci.yml
  frontend/vite.config.netlify.ts
Due: frontend-lint, frontend-format

chore: Optimize CI workflow for dependency installation
  .github/workflows/ci.yml
Due: none

chore: Update Netlify build configuration and Vite settings
  frontend/package.json
  frontend/vite.config.netlify.simple.ts
  frontend/vite.config.netlify.ts
  netlify.toml
Due: frontend-lint, frontend-format

chore: Update CI workflow and local settings for improved linting and tool verification
  .claude/settings.local.json
  .github/workflows/ci.yml
Due: none

chore: Enhance CI workflow with debugging output and ESLint configuration
  .github/workflows/ci.yml
Due: none

chore: Add package.json and package-lock.json for dependency management
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/scripts/analyze-bundle.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/vite.config.ts
  package-lock.json
  package.json
Due: frontend-lint, frontend-format

chore: Refactor Vite configuration for improved chunking and output management
  frontend/netlify.toml
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/vite.config.netlify.simple.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-format

chore: Update dependencies and refactor API mocking in tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/test/integration/index.test.ts
Due: frontend-lint, frontend-format

chore: Update pnpm-lock.yaml and tsconfig.json for dependency management
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend-format

chore: Update build commands and enhance Vite configuration
  frontend/netlify.toml
  frontend/package.json
  frontend/scripts/verify-build.js
  frontend/src/hooks/useDashboardData.ts
  frontend/src/test/dashboard-integration.test.tsx
  frontend/vite.config.netlify.simple.ts
  frontend/vite.config.netlify.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-format

chore: Update react version in pnpm-lock.yaml for consistency
  frontend/pnpm-lock.yaml
Due: none

chore: Refactor project configuration and update dependencies
  .railwayignore
  Procfile
  frontend/.npmrc
  frontend/NETLIFY_JSX_FIX.md
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  nixpacks.toml
  package-lock.json
  package.json
Due: frontend-format

chore: Migrate project to pnpm for improved dependency management
  .github/workflows/ci.yml
  .github/workflows/netlify-deploy.yml
  .nixpacksignore
  frontend/PNPM_MIGRATION.md
  frontend/netlify.toml
  nixpacks.toml
  package-lock.json
  package.json
Due: frontend-format

chore: Update dependencies and CI workflows for improved compatibility
  .github/workflows/ci.yml
  .github/workflows/netlify-deploy.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.prod.ts
  package.json
  pnpm-lock.yaml
Due: frontend-lint, frontend-format

chore: Downgrade React and update related configurations for compatibility
  frontend/PNPM_MIGRATION.md
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Charts/RealtimeChart.tsx
  frontend/src/components/Reports/ElementPalette.tsx
  frontend/src/components/Reports/TemplateCanvas.tsx
  frontend/src/utils/performance.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-lint, frontend-format

chore: Update development scripts and dependencies for improved performance
  frontend/PNPM_MIGRATION.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/main.tsx
  frontend/vite.config.ts
  package.json
Due: frontend-lint, frontend-format

chore: Migrate build commands to pnpm and enhance Nixpacks configuration
  frontend/PNPM_MIGRATION.md
  frontend/vite.config.netlify.simple.ts
  frontend/vite.config.netlify.ts
  netlify.toml
  nixpacks.toml
Due: frontend-lint, frontend-format

chore: Refactor build configurations and optimize dependencies
  .claude/settings.local.json
  frontend/package.json
  frontend/test-results.xml
  frontend/tsconfig.json
  frontend/vite.config.base.ts
  frontend/vite.config.netlify.debug.ts
  frontend/vite.config.netlify.simple.ts
  frontend/vite.config.netlify.ts
  frontend/vite.config.prod.ts
  frontend/vite.config.ts
  frontend/vitest.config.minimal.ts
  frontend/vitest.config.ts
  netlify.toml
  nixpacks.toml
Due: frontend-lint, frontend-format

chore: Transition CI workflows to pnpm and optimize build commands
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/netlify-deploy.yml
  frontend/netlify.toml
  nixpacks.toml
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/ui/switch.tsx
Due: none

chore: Clean up pnpm-lock.yaml by removing unused dependencies
  frontend/pnpm-lock.yaml
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
