Repository alexandertataurov/fin-model: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format

.pre-commit-config.yaml:

repos:
  # Frontend hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  # Frontend linting and formatting
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format
        name: Frontend Prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Backend hooks
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        files: ^backend/.*\.py$
        args: [--line-length=88]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^backend/.*\.py$
        args: [--profile=black]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        files: ^backend/.*\.py$
        args:
          - "--max-line-length=88"
          - "--extend-ignore=E203,W503"

Add global client fixtures and simplify admin API
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/admin/database.py
  backend/app/models/base.py
  backend/app/services/maintenance_service.py
  backend/tests/conftest.py
  backend/tests/test_admin_improvements.py
  backend/tests/test_user_activity.py
Due: none

refactor: remove unused imports
  backend/app/core/websocket_manager.py
  backend/app/services/dashboard_service.py
  backend/app/services/monte_carlo_service.py
  backend/tests/test_user_activity.py
Due: none

chore: secure tailwind config paths
  scripts/generate-tailwind-config.ts
Due: none

chore: ensure tailwind config paths are safe
  scripts/generate-tailwind-config.ts
Due: none

Silence unused model import warnings
  backend/app/models/base.py
Due: none

refactor parameter and metrics services for lower complexity
  backend/app/services/metrics_calculation_service.py
  backend/app/services/parameter_service.py
Due: none

refactor: extract numeric utility and remove duplicate admin endpoints
  backend/app/api/v1/endpoints/admin.py
  backend/app/services/enhanced_chart_methods.py
  backend/app/services/metrics_calculation_service.py
  backend/app/services/numeric_utils.py
Due: none

Refactor model imports and export list
  backend/app/models/base.py
Due: none

fix storybook workflow
  .github/workflows/storybook.yml
Due: none

fix: resolve design tokens merge conflict
  frontend/src/design-system/tokens.ts
Due: frontend-lint, frontend-format

fix: resolve lint issues
  frontend/src/components/Admin/__tests__/OverviewSection.test.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/components/AdminDashboard/__tests__/HealthTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.filters.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/OverviewTab.metrics-alerts.test.tsx
  frontend/src/design-system/tokens.ts
  frontend/src/pages/AdminDashboard.tsx
Due: frontend-lint, frontend-format

fix: avoid Alembic import shadowing
  backend/alembic.ini
  backend/alembic_migrations/env.py
  backend/alembic_migrations/script.py.mako
  backend/alembic_migrations/versions/001_create_user_authentication_tables.py
  backend/alembic_migrations/versions/002_add_file_upload_tables.py
  backend/alembic_migrations/versions/003_add_parameter_modeling_tables.py
  backend/alembic_migrations/versions/004_add_report_tables.py
  backend/alembic_migrations/versions/004_add_system_logs_and_maintenance.py.bak
  backend/alembic_migrations/versions/005_add_financial_data_tables.py
  backend/alembic_migrations/versions/006_add_advanced_indexes.py
  backend/alembic_migrations/versions/007_add_missing_user_columns.py
  backend/alembic_migrations/versions/008_add_enhanced_auth_tables.py
  backend/alembic_migrations/versions/3cc867c9122a_fix_notification_type_column_name.py
  backend/alembic_migrations/versions/93a0bb4bdb0b_add_parameter_groups_and_history.py
  backend/alembic_migrations/versions/951cd05e0ae0_add_enhanced_authentication_features.py
  backend/alembic_migrations/versions/9dd5d1ac7ef0_fix_duplicate_indexes.py
  backend/alembic_migrations/versions/cb40847ce093_add_notification_tables.py
  backend/alembic_migrations/versions/cc29f0d3d343_add_advanced_reporting_collaboration_.py
  backend/alembic_migrations/versions/d6c6cf259427_add_system_logs_and_maintenance_tables.py
  backend/alembic_migrations/versions/e55cf976aaaa_add_monte_carlo_simulation_tables.py
  backend/start.py
  docs/LEAN_FINANCIAL_APP_DOCUMENTATION.md
Due: none

fix pnpm caching in storybook workflow
  .github/workflows/storybook.yml
Due: none

Use venv python for Railway deployment
  railway.json
Due: none

chore: add contrast tooling and theme toggling
  docs/themes.md
  frontend/src/design-system/theme-switcher.ts
  frontend/src/design-system/tokens/themes/dark.json
  frontend/src/design-system/tokens/themes/light.json
  scripts/contrast-check.js
Due: frontend-lint, frontend-format

docs: add governance and contribution guides
  .github/pull_request_template.md
  README.md
  docs/contributing.md
  docs/rfc.md
Due: none

chore: automate design token build
  config/style-dictionary.json
  docs/build.md
  frontend/src/design-system/tokens.css
  frontend/src/design-system/tokens.d.ts
  frontend/src/design-system/tokens.json
  tokens/borderRadius.json
  tokens/breakpoints.json
  tokens/colors.json
  tokens/shadows.json
  tokens/spacing.json
  tokens/typography.json
  tokens/zIndex.json
Due: frontend-lint, frontend-format

feat(tokens): expand coverage with interaction and motion
  config/style-dictionary.json
  docs/tokens.md
  frontend/src/design-system/components/Card.tsx
  tokens/borderWidth/base.json
  tokens/colors/base.json
  tokens/motion/base.json
  tokens/typography/base.json
Due: frontend-lint, frontend-format

feat: add semantic tokens and aliases
  config/style-dictionary.json
  docs/tokens.md
  frontend/src/App.tsx
  frontend/src/design-system/components/Alert.tsx
  frontend/src/design-system/tokens.json
  frontend/src/design-system/tokens.ts
  frontend/src/index.css
  frontend/tailwind.config.js
  package.json
  tokens/semantic.json
Due: frontend-lint, frontend-format

fix type check
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Admin/__tests__/OverviewSection.test.tsx
  frontend/src/components/AdminDashboard/LogFilterForm.tsx
  frontend/src/components/AdminDashboard/__tests__/HealthTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.filters.test.tsx
  frontend/src/components/AdminDashboard/__tests__/LogsTab.test.tsx
  frontend/src/components/AdminDashboard/__tests__/OverviewTab.metrics-alerts.test.tsx
  frontend/src/design-system/tokens.ts
  frontend/src/design-system/utils/tokenHelpers.ts
  frontend/src/hooks/useDesignTokens.ts
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/test/setup.ts
Due: frontend-lint, frontend-format

chore: hardcode theme token paths
  scripts/contrast-check.js
Due: none

fix: correct stylelint rule in token outputs
  .stylelintrc.json
  frontend/src/design-system/tokens.css
Due: frontend-format

Add Codacy badge
  README.md
Due: none

refactor: remove unused dashboard layout
  frontend/src/App.tsx
  frontend/tsconfig.typecheck.json
Due: frontend-lint, frontend-format

chore(frontend): update pnpm lock
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/test/test-utils.tsx
Due: frontend-lint, frontend-format

refactor contrast checker to avoid dynamic paths
  scripts/contrast-check.js
Due: none

Update frontend/pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: none

chore(frontend): update pnpm lock
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/design-system/components/Label.tsx
Due: frontend-lint, frontend-format

chore: normalize style dictionary config
  .stylelintrc.json
  config/style-dictionary.json
  docs/build.md
  frontend/src/design-system/tokens.css
  frontend/src/design-system/tokens.d.ts
  frontend/src/design-system/tokens.json
  tokens/borderRadius.json
  tokens/breakpoints.json
  tokens/colors.json
  tokens/shadows.json
  tokens/spacing.json
  tokens/typography.json
  tokens/zIndex.json
Due: frontend-lint, frontend-format

fix(frontend): resolve package.json merge conflict
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

Update frontend/src/components/Admin/UserManagement.tsx
  frontend/src/components/Admin/UserManagement.tsx
Due: frontend-lint, frontend-format

Update frontend/src/components/auth/EmailVerification.tsx
  frontend/src/components/auth/EmailVerification.tsx
Due: frontend-lint, frontend-format

Update frontend/src/design-system/stories/EnhancedStories.stories.disabled.tsx
  frontend/src/design-system/stories/EnhancedStories.stories.disabled.tsx
Due: frontend-lint, frontend-format
