Repository alexandertataurov/fin-model: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

Update requirements.txt
  requirements.txt
Due: none

refactor: Update OAuth integration and enhance Storybook configuration
  backend/app/core/oauth.py
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
Due: frontend-lint, frontend-format

chore: Update authlib version in requirements.txt to allow for newer releases
  backend/requirements.txt
  frontend/.storybook/preview.ts
  frontend/src/styles/globals.css
Due: frontend-lint, frontend-format

chore: Update requirements.txt to enhance dependencies and organization
  backend/requirements.txt
  requirements.txt
Due: none

chore: Update requirements.txt for additional authentication libraries
  backend/requirements.txt
  requirements.txt
Due: none

refactor: Update UI components and styles for improved consistency and functionality
  frontend/src/components/Analytics/AnalyticsDashboard.tsx
  frontend/src/components/BalanceSheet/AssetsBreakdown.tsx
  frontend/src/components/BalanceSheet/BalanceSheetSummary.tsx
  frontend/src/components/BalanceSheet/EquityTrend.tsx
  frontend/src/components/BalanceSheet/FinancialRatios.tsx
  frontend/src/components/BalanceSheet/LiabilitiesAnalysis.tsx
  frontend/src/components/Charts/WaterfallChart.tsx
  frontend/src/components/Dashboard/DashboardGrid.tsx
  frontend/src/components/Dashboard/LoadingStates.tsx
  frontend/src/components/FileUpload/FileList.tsx
  frontend/src/components/FileUpload/FileUploadDropzone.tsx
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/Parameters/ParameterEditor.tsx
  frontend/src/components/Parameters/ParameterList.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Due: frontend-lint, frontend-format

chore: Enhance backend functionality with monitoring and caching improvements
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/core/celery_app.py
  backend/app/core/monitoring.py
  backend/app/middleware/monitoring_middleware.py
  backend/app/tasks/scheduled_tasks.py
  backend/main.py
  backend/requirements.txt
Due: none

chore: Update requirements.txt to include psutil for system monitoring
  backend/requirements.txt
  requirements.txt
Due: none

chore: Update requirements.txt to include prometheus_client for monitoring
  backend/requirements.txt
  requirements.txt
Due: none

fix: remove unused variables and imports
  frontend/src/components/Analytics/AnalyticsDashboard.tsx
  frontend/src/components/BalanceSheet/BalanceSheetSummary.tsx
  frontend/src/components/BalanceSheet/FinancialRatios.tsx
  frontend/src/components/Dashboard/DashboardGrid.tsx
  frontend/src/components/FileUpload/FileList.tsx
  frontend/src/components/FileUpload/FileUploadDropzone.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/Parameters/ParameterEditor.tsx
  frontend/src/components/Parameters/ParameterList.tsx
Due: frontend-lint, frontend-format

Add admin permissions
  backend/app/core/permissions.py
Due: none

Expose FastAPI app for tests
  backend/app/main.py
Due: none

feat: Implement comprehensive advanced reporting system with AI insights and real-time collaboration
  backend/alembic/versions/cc29f0d3d343_add_advanced_reporting_collaboration_.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/collaboration.py
  backend/app/models/collaboration.py
  backend/app/services/ai_insights_service.py
  backend/app/services/collaboration_service.py
  backend/tests/test_advanced_reporting.py
  frontend/src/components/Reports/AIInsights.tsx
  frontend/src/components/Reports/CollaborationBar.tsx
  frontend/src/components/Reports/DraggableElement.tsx
  frontend/src/components/Reports/ElementPalette.tsx
  frontend/src/components/Reports/ElementRenderer.tsx
  frontend/src/components/Reports/Elements/ChartElement.tsx
  frontend/src/components/Reports/Elements/ImageElement.tsx
  frontend/src/components/Reports/Elements/MetricElement.tsx
  frontend/src/components/Reports/Elements/TableElement.tsx
  frontend/src/components/Reports/Elements/TextElement.tsx
  frontend/src/components/Reports/PropertiesPanel.tsx
  frontend/src/components/Reports/SmartRecommendations.tsx
  frontend/src/components/Reports/TemplateBuilder.tsx
  frontend/src/components/Reports/TemplateCanvas.tsx
  frontend/src/hooks/useCollaboration.ts
  frontend/src/types/template-builder.ts
Due: frontend-lint, frontend-format

fix: resolve TypeScript compile errors
  frontend/src/App.tsx
  frontend/src/components/Analytics/AnalyticsDashboard.tsx
  frontend/src/components/BalanceSheet/AssetsBreakdown.tsx
  frontend/src/components/BalanceSheet/BalanceSheetSummary.tsx
  frontend/src/components/BalanceSheet/EquityTrend.tsx
  frontend/src/components/BalanceSheet/FinancialRatios.tsx
  frontend/src/components/BalanceSheet/LiabilitiesAnalysis.tsx
  frontend/src/components/Charts/WaterfallChart.tsx
  frontend/src/components/FileUpload/FileList.tsx
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/ui/DateRangePicker.tsx
  frontend/src/components/ui/FileUploadZone.tsx
  frontend/src/components/ui/LoadingStates.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/shadcn-registry.tsx
  frontend/src/pages/BalanceSheetDashboard.tsx
  frontend/src/pages/CashFlowDashboard.tsx
  frontend/src/pages/FileUpload.tsx
  frontend/src/pages/PLDashboard.tsx
  frontend/src/pages/ScenarioModeling.tsx
Due: frontend-lint, frontend-format

fix: add chart color config
  frontend/src/components/BalanceSheet/EquityTrend.tsx
  frontend/src/components/BalanceSheet/LiabilitiesAnalysis.tsx
Due: frontend-lint, frontend-format

chore: relax eslint warnings
  frontend/.eslintrc.cjs
  frontend/src/contexts/AuthContext.tsx
Due: frontend-lint, frontend-format

feat: Add notification system with real-time updates and user preferences
  .claude/settings.local.json
  backend/alembic/versions/cb40847ce093_add_notification_tables.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/collaboration.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/test_utils.py
  backend/app/api/v1/endpoints/websocket.py
  backend/app/core/websocket_manager.py
  backend/app/models/collaboration.py
  backend/app/models/notification.py
  backend/app/models/user.py
  backend/app/services/ai_insights_service.py
  backend/app/services/collaboration_service.py
  backend/app/services/notification_service.py
  backend/app/services/realtime_triggers.py
  backend/main.py
  backend/tests/test_advanced_reporting.py
  backend/tests/test_enhanced_auth.py
  frontend/src/components/Charts/RealtimeChart.tsx
  frontend/src/components/Charts/RealtimeLineChart.tsx
  frontend/src/components/Charts/index.ts
  frontend/src/components/Dashboard/RealtimeMetrics.tsx
  frontend/src/components/Notifications/NotificationCenter.tsx
  frontend/src/components/Notifications/NotificationToast.tsx
  frontend/src/components/Notifications/index.ts
  frontend/src/components/System/ConnectionHealthMonitor.tsx
  frontend/src/components/System/index.ts
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/hooks/useRealtimeDashboard.ts
  frontend/src/services/websocket.ts
  frontend/src/utils/websocket-error-handler.ts
Due: frontend-lint, frontend-format

fix: Update import paths and permissions in backend modules
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/main.py
  main.py
Due: none

fix: Update import path for FastAPI app in test file
  backend/tests/test_enhanced_auth.py
Due: none

feat: Enhance caching and database migration logic
  backend/alembic/versions/cc29f0d3d343_add_advanced_reporting_collaboration_.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/core/cache.py
  backend/fix_migration_issue.py
  backend/main.py
Due: none

feat: Refactor caching and requirements management
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  TASK_11_COMPLETION_SUMMARY.md
  backend/alembic/versions/cc29f0d3d343_add_advanced_reporting_collaboration_.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/core/cache.py
  backend/app/models/report.py
  backend/main.py
  backend/requirements.txt
  backend/tests/test_enhanced_auth.py
  main.py
  requirements.txt
Due: none

fix: Update user_id and invited_by fields in collaboration models to Integer type
  backend/app/models/collaboration.py
  backend/tests/test_additional_services.py
  backend/tests/test_advanced_reporting.py
  frontend/src/components/Charts/RealtimeChart.tsx
  frontend/src/components/Dashboard/RealtimeMetrics.tsx
  frontend/src/components/Notifications/NotificationCenter.tsx
  frontend/src/components/Notifications/NotificationToast.tsx
  frontend/src/components/Reports/CollaborationBar.tsx
  frontend/src/components/Reports/DraggableElement.tsx
  frontend/src/components/Reports/ElementPalette.tsx
  frontend/src/components/Reports/PropertiesPanel.tsx
  frontend/src/components/Reports/SmartRecommendations.tsx
  frontend/src/components/Reports/TemplateBuilder.tsx
  frontend/src/components/Scenarios/ScenarioManager.tsx
  frontend/src/components/Scenarios/SimulationResults.tsx
  frontend/src/components/System/ConnectionHealthMonitor.tsx
  frontend/src/components/auth/EmailVerification.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/hooks/useCollaboration.ts
  frontend/src/hooks/useRealtimeDashboard.ts
  frontend/src/services/websocket.ts
  frontend/src/utils/websocket-error-handler.ts
Due: frontend-lint, frontend-format

feat: Add Nixpacks configuration for deployment
  nixpacks.toml
  railway.json
Due: none

chore: Remove nixpacks.toml and add requirements.txt for backend dependencies
  nixpacks.toml
  requirements.txt
Due: none

chore: Update Docker and CI configurations for improved structure and dependency management
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  docker-compose.yml
  main.py
  requirements.txt
Due: none

chore: Refactor Docker configurations for backend service
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/requirements.txt
  docker-compose.prod.yml
Due: none

chore: Update railway configuration and ignore files for deployment
  .railwayignore
  railway.json
Due: none

chore: Migrate railway configuration from JSON to TOML format
  railway.json
  railway.toml
Due: none

chore: Update .railwayignore and add nixpacks.toml for improved deployment configuration
  .railwayignore
  nixpacks.toml
  railway.json
Due: none

chore: Remove nixpacks and railway.toml configurations for streamlined deployment
  nixpacks.toml
  railway.json
  railway.toml
Due: none

chore: Update package.json and package-lock.json for dependency management
  .railwayignore
  README.md
  backend/app/models/collaboration.py
  backend/app/services/collaboration_service.py
  backend/app/services/realtime_triggers.py
  backend/debug_collab.py
  backend/tests/test_additional_services.py
  backend/tests/test_advanced_reporting.py
  backend/tests/test_cloud_storage_services.py
  frontend/CSS_AUDIT_COMPLETION_REPORT.md
  frontend/Dockerfile
  frontend/ENHANCED_AUTH_INTEGRATION.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Charts/BaseChart.tsx
  frontend/src/components/FileUpload/FileList.tsx
  frontend/src/components/FileUpload/FileUploadDropzone.tsx
  frontend/src/components/FileUpload/StatementSelector.tsx
  frontend/src/components/Notifications/NotificationToast.tsx
  frontend/src/components/Reports/CollaborationBar.tsx
  frontend/src/components/Reports/DraggableElement.tsx
  frontend/src/components/Reports/ElementPalette.tsx
  frontend/src/components/Reports/Elements/ChartElement.tsx
  frontend/src/components/Reports/PropertiesPanel.tsx
  frontend/src/components/Reports/SmartRecommendations.tsx
  frontend/src/components/Reports/TemplateCanvas.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/hooks/useCollaboration.ts
  frontend/src/hooks/useRealtimeDashboard.ts
  frontend/src/services/websocket.ts
  frontend/src/utils/websocket-error-handler.ts
  package-lock.json
  package.json
  src/components/ui/switch.tsx
  uploads/2e312671-1c2f-4edb-b691-53f871c1d228.xlsx
  uploads/3bcfe76c-0ed3-4353-ad88-a6a702a6e861.xlsx
  uploads/a9ccfb7c-3633-46a9-b749-41f37004eeab.xlsx
  uploads/ae9f7cf6-3fb6-455f-86cb-dff18bd4cc04.xlsx
  uploads/b18e82ba-fb29-474b-97d1-0652a5f2cfe8.xlsx
  uploads/d60164ea-c23d-4a5d-b4a4-205778fa85f7.xlsx
Due: frontend-lint, frontend-format

chore: Simplify CI workflow by removing frontend working-directory references
  .github/workflows/ci.yml
Due: none

chore: Add nixpacks.toml for Python environment configuration
  nixpacks.toml
  railway.json
Due: none

chore: Enhance frontend setup and CI configuration
  .claude/settings.local.json
  .github/workflows/ci.yml
  frontend/package-lock.json
  frontend/package.json
  nixpacks.toml
Due: frontend-format

chore: Update nixpacks.toml for Python configuration
  nixpacks.toml
Due: none

chore: Refactor nixpacks.toml for improved Python provider configuration
  nixpacks.toml
Due: none

chore: Refactor nixpacks.toml to streamline Python provider configuration
  nixpacks.toml
Due: none

chore: Update deployment configuration and refine ignored files
  .railwayignore
  nixpacks.toml
  railway.json
  setup.py
Due: none

chore: Refactor main.py and run_migrations.py for improved directory handling
  backend/run_migrations.py
  main.py
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
