Repository alexandertataurov/fin-model: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format, no-legacy-ui-imports

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'npx eslint --config frontend/.eslintrc.cjs "$@"' --
  language: system
  pass_filenames: true

frontend-format:
  name: Frontend Prettier
  entry: bash -c 'if [ "$#" -gt 0 ]; then npx prettier --write "$@"; fi' --
  language: system
  pass_filenames: true

no-legacy-ui-imports:
  name: Disallow legacy ui imports
  entry: bash -c 'if grep -n "@/components/ui" "$@"; then echo "Use design-system components instead of @/components/ui"; exit 1; fi'
  language: system
  pass_filenames: true

feat(color-palette): implement comprehensive color palette and theming system updates
  COLOR_PALETTE_FIXES.md
  frontend/src/components/Admin/DataManagement.tsx
  frontend/src/design-system/stories/Foundations.Colors.stories.tsx
  frontend/src/design-system/tokens.json
  frontend/src/design-system/tokens.ts
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
  tokens/colors.json
  tokens/semantic.json
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): enhance compliance with design system and improve documentation
  ADMIN_DASHBOARD_DESIGN_SYSTEM_REVIEW.md
  COLOR_PALETTE_AUDIT_REPORT.md
  COMPONENTS_AND_PAGES_DOCUMENTATION.md
  frontend/src/components/Admin/AdminDashboard.tsx
  frontend/src/components/Admin/MaintenanceTools.tsx
  frontend/src/components/AdminDashboard/LogFilterForm.stories.tsx
  frontend/src/components/AdminDashboard/LogFilterForm.tsx
  frontend/src/components/AdminDashboard/OverviewTab.tsx
  frontend/src/components/ErrorBoundary.stories.tsx
  frontend/src/components/stories/AuthGuard.stories.tsx
  frontend/src/design-system/stories/Skeleton.stories.tsx
  frontend/src/design-system/utils/tokenHelpers.ts
  frontend/src/hooks/useDesignTokens.ts
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(design-system): update color tokens and typography styles
  DESIGN_SYSTEM_STYLES_REVIEW.md
  config/style-dictionary.json
  frontend/src/App.tsx
  frontend/src/components/Admin/DataManagement.stories.tsx
  frontend/src/components/Admin/LogFilterForm.stories.tsx
  frontend/src/components/AdminDashboard/HealthTab.stories.tsx
  frontend/src/components/DesignTokenTest.tsx
  frontend/src/design-system/tokens.css
  frontend/src/design-system/tokens.d.ts
  frontend/src/design-system/tokens.json
  frontend/src/design-system/typography.css
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tailwind.config.js
  tokens/semantic.json
Due: frontend-lint, frontend-format, no-legacy-ui-imports

Fix typography.ts JSX syntax errors and rename to .tsx - Resolves Netlify build failure
  frontend/src/design-system/stories/01-Foundations.01-Colors.stories.tsx
  frontend/src/design-system/stories/01-Foundations.03-ZIndex.stories.tsx
  frontend/src/design-system/stories/01-Foundations.04-BorderWidth.stories.tsx
  frontend/src/design-system/stories/01-Foundations.05-Shadows.stories.tsx
  frontend/src/design-system/tokens.json
  frontend/src/design-system/tokens.ts
  frontend/src/design-system/utils/typography.tsx
  frontend/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(security): update Content Security Policy and enhance design system documentation
  frontend/_headers
  frontend/netlify.toml
  frontend/src/design-system/stories/01-Foundations.01-Colors.stories.tsx
  frontend/src/design-system/stories/01-Foundations.05-Shadows.stories.tsx
  frontend/src/design-system/stories/01-Foundations.06-Radius.stories.tsx
  frontend/src/design-system/tokens.ts
  frontend/tailwind.config.js
  netlify.toml
Due: frontend-lint, frontend-format, no-legacy-ui-imports

refactor(design-system): enhance Storybook stories and update design tokens
  frontend/src/components/auth/AuthGuard.stories.tsx
  frontend/src/design-system/stories/01-Foundations.01-Colors.stories.tsx
  frontend/src/design-system/stories/01-Foundations.07-Spacing.stories.tsx
  frontend/src/design-system/stories/01-Foundations.08-Motion.stories.tsx
  frontend/src/design-system/tokens.json
  frontend/src/design-system/tokens.ts
Due: frontend-lint, frontend-format, no-legacy-ui-imports

refactor(AdminDashboard): clean up imports and improve code formatting
  frontend/src/components/Admin/AdminDashboard.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(design-system): add text styles and enhance typography in tokens
  frontend/scripts/generate-tokens.ts
  frontend/src/design-system/stories/01-Foundations.01-Colors.stories.tsx
  frontend/src/design-system/stories/01-Foundations.07-Spacing.stories.tsx
  frontend/src/design-system/stories/01-Foundations.08-Motion.stories.tsx
  frontend/src/design-system/tokens.ts
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(docs): add comprehensive API documentation and endpoints
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/docs.py
  backend/main.py
  docs/API_QUICK_START.md
  docs/RAILWAY_DEPLOYMENT.md
  docs/deployment_manifest.txt
  docs/redocs/README.md
  docs/redocs/index.html
  docs/redocs/landing.html
  docs/redocs/server.py
  docs/redocs/swagger.html
  frontend/src/pages/AdminDashboard/AdminDashboardOverview.stories.tsx
  frontend/src/pages/AdminDashboard/Components.stories.tsx
  frontend/src/pages/AdminDashboard/HealthMonitoring.stories.tsx
  frontend/src/pages/AdminDashboard/PERFORMANCE_OPTIMIZATIONS.md
  frontend/src/pages/AdminDashboard/SecurityAudit.stories.tsx
  frontend/src/pages/AdminDashboard/SystemMetrics.stories.tsx
  frontend/src/pages/AdminDashboard/UserManagement.stories.tsx
  scripts/deploy_docs.sh
Due: frontend-lint, frontend-format, no-legacy-ui-imports

fix(railway): correct Procfile startup command and fix app imports
  Procfile
  backend/app/main.py
Due: none

fix(railway): update docs endpoint paths for Railway deployment environment
  backend/app/api/v1/endpoints/docs.py
Due: none

feat(admin-dashboard): integrate design system tokens for consistent styling
  frontend/src/components/AdminDashboard/AdminDashboard.tsx
  frontend/src/components/AdminDashboard/DashboardCustomization.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/AdminDashboard/AdminDashboardOverview.stories.tsx
  frontend/src/pages/AdminDashboard/Components.stories.tsx
  frontend/src/pages/AdminDashboard/Documentation.stories.tsx
  frontend/src/pages/AdminDashboard/HealthMonitoring.stories.tsx
  frontend/src/pages/AdminDashboard/PERFORMANCE_OPTIMIZATIONS.md
  frontend/src/pages/AdminDashboard/SecurityAudit.stories.tsx
  frontend/src/pages/AdminDashboard/SystemMetrics.stories.tsx
  frontend/src/pages/AdminDashboard/UserManagement.stories.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

fix(docs): update all relative paths to use correct API endpoints for Railway deployment
  backend/app/api/v1/endpoints/docs.py
  docs/redocs/index.html
  docs/redocs/landing.html
  docs/redocs/swagger.html
Due: none

feat(admin-dashboard): integrate design system tokens for improved component styling
  frontend/src/components/AdminDashboard/DataManagement.tsx
  frontend/src/components/AdminDashboard/HealthTab.tsx
  frontend/src/components/AdminDashboard/LogFilterForm.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/components/AdminDashboard/MaintenanceTools.tsx
  frontend/src/components/AdminDashboard/OverviewSection.tsx
  frontend/src/components/AdminDashboard/OverviewTab.tsx
  frontend/src/components/AdminDashboard/SystemMonitoring.tsx
  frontend/src/components/AdminDashboard/UserManagement.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(docs): update documentation design using design system tokens and typography
  docs/redocs/index.html
  docs/redocs/landing.html
  docs/redocs/swagger.html
Due: none

feat(admin-dashboard): optimize performance and enhance component structure
  frontend/src/components/AdminDashboard/AdminDashboard.tsx
  frontend/src/components/ui/VirtualizedList.tsx
  frontend/src/hooks/useOptimizedDataFetching.ts
  frontend/src/hooks/usePerformanceMonitor.ts
  frontend/src/hooks/useResizeObserver.ts
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/AdminDashboard/Components.stories.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(docs): improve design system colors and add comprehensive documentation page
  backend/app/api/v1/endpoints/docs.py
  docs/redocs/comprehensive.html
  docs/redocs/index.html
  docs/redocs/landing.html
  docs/redocs/swagger.html
Due: none

feat(admin-dashboard): add performance optimizations documentation and enhance component performance
  frontend/PERFORMANCE_OPTIMIZATIONS.md
  frontend/src/components/AdminDashboard/AdminDashboard.tsx
  frontend/src/pages/AdminDashboard/Components.stories.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): enhance component structure and integrate design system helpers
  backend/app/docs/redocs/README.md
  backend/app/docs/redocs/comprehensive.html
  backend/app/docs/redocs/index.html
  backend/app/docs/redocs/landing.html
  backend/app/docs/redocs/server.py
  backend/app/docs/redocs/swagger.html
  frontend/src/components/AdminDashboard/AdminDashboard.tsx
  frontend/src/components/AdminDashboard/COMPONENT_REVIEW.md
  frontend/src/components/AdminDashboard/DataManagement.tsx
  frontend/src/components/AdminDashboard/README.md
  frontend/src/components/AdminDashboard/utils/designSystemHelpers.ts
Due: frontend-lint, frontend-format, no-legacy-ui-imports

refactor(admin-dashboard): enhance documentation and improve component formatting
  frontend/src/components/AdminDashboard/COMPONENT_REVIEW.md
  frontend/src/components/AdminDashboard/DataManagement.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(docs): enhance API documentation and improve file structure
  backend/app/api/v1/endpoints/docs.py
  backend/app/docs/API_DOCUMENTATION.md
  backend/app/docs/API_README.md
  backend/app/docs/FinVision_API.postman_collection.json
  backend/app/docs/openapi.yaml
  backend/app/docs/redocs/index.html
  backend/app/docs/redocs/landing.html
  backend/app/docs/redocs/server.py
  backend/app/docs/redocs/swagger.html
  frontend/src/components/AdminDashboard/DashboardCustomization.tsx
  frontend/src/components/AdminDashboard/DataManagement.tsx
  frontend/src/components/AdminDashboard/HealthTab.tsx
  frontend/src/components/AdminDashboard/LogFilterForm.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/components/AdminDashboard/MaintenanceTools.tsx
  frontend/src/components/AdminDashboard/OverviewSection.tsx
  frontend/src/components/AdminDashboard/OverviewTab.tsx
  frontend/src/components/AdminDashboard/SystemMonitoring.tsx
  frontend/src/components/AdminDashboard/UserManagement.tsx
  frontend/src/design-system/docs/01-Colors.mdx
  frontend/src/design-system/docs/01-Foundations.mdx
  frontend/src/design-system/docs/02-Typography.mdx
  frontend/src/design-system/docs/03-ZIndex.mdx
  frontend/src/design-system/docs/05-Shadows.mdx
  frontend/src/design-system/docs/07-Spacing.mdx
  frontend/src/design-system/docs/08-Motion.mdx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

refactor(docs): update design system documentation structure and formatting
  frontend/.storybook/main.ts
  frontend/src/design-system/docs/01-Colors.mdx
  frontend/src/design-system/docs/01-Foundations.mdx
  frontend/src/design-system/docs/02-Typography.mdx
  frontend/src/design-system/docs/03-ZIndex.mdx
  frontend/src/design-system/docs/05-Shadows.mdx
  frontend/src/design-system/docs/07-Spacing.mdx
  frontend/src/design-system/docs/08-Motion.mdx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(docs): enhance design system documentation and structure
  frontend/.storybook/main.ts
  frontend/src/components/AdminDashboard/UserManagement.tsx
  frontend/src/design-system/stories/01-Foundations/01-Colors.mdx
  frontend/src/design-system/stories/01-Foundations/01-Foundations.05-Shadows.stories.tsx
  frontend/src/design-system/stories/01-Foundations/01-Foundations.mdx
  frontend/src/design-system/stories/01-Foundations/02-Typography.mdx
  frontend/src/design-system/stories/01-Foundations/03-ZIndex.mdx
  frontend/src/design-system/stories/01-Foundations/05-Shadows.mdx
  frontend/src/design-system/stories/01-Foundations/07-Spacing.mdx
  frontend/src/design-system/stories/01-Foundations/08-Motion.mdx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(deploy): add automated Storybook deployment script and Netlify configuration
  frontend/STORYBOOK_DEPLOYMENT.md
  frontend/deploy-storybook.sh
  frontend/netlify-storybook.toml
  frontend/package.json
Due: frontend-format

fix(SystemMonitoring): correct component closure syntax for proper rendering
  frontend/src/components/AdminDashboard/SystemMonitoring.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

Fix docs endpoint paths for Railway deployment - update to look in backend/app/docs/redocs
  backend/app/api/v1/endpoints/docs.py
Due: none

feat(admin-dashboard): refactor components to eliminate duplication and enhance design consistency
  frontend/src/components/AdminDashboard/COMPONENT_REVIEW.md
  frontend/src/components/AdminDashboard/HealthTab.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
  frontend/src/components/AdminDashboard/OverviewSection.tsx
  frontend/src/components/AdminDashboard/SystemMonitoring.tsx
  frontend/src/components/AdminDashboard/components/AdminCard.tsx
  frontend/src/components/AdminDashboard/components/AdminLoading.tsx
  frontend/src/components/AdminDashboard/components/AdminTypography.tsx
  frontend/src/components/AdminDashboard/components/index.ts
  frontend/src/components/AdminDashboard/utils/designSystemHelpers.ts
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): implement duplication elimination and shared components
  frontend/src/components/AdminDashboard/DUPLICATION_ELIMINATION_SUMMARY.md
  frontend/src/components/AdminDashboard/OverviewTab.tsx
  frontend/src/components/AdminDashboard/SystemMonitoring.tsx
  frontend/src/components/ui/VirtualizedList.tsx
  frontend/src/design-system/stories/01-Foundations/04-BorderWidth.mdx
  frontend/src/design-system/stories/01-Foundations/06-Radius.mdx
  frontend/src/design-system/stories/01-Foundations/09-Transitions.mdx
  frontend/src/design-system/stories/01-Foundations/10-Grid.mdx
  frontend/src/design-system/stories/01-Foundations/11-Layout.mdx
  frontend/src/design-system/stories/01-Foundations/12-Breakpoints.mdx
  frontend/src/design-system/stories/01-Foundations/13-Sizing.mdx
  frontend/src/design-system/stories/01-Foundations/14-Position.mdx
  frontend/src/design-system/stories/01-Foundations/15-Display.mdx
  frontend/src/design-system/stories/01-Foundations/16-Border.mdx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): introduce AdminHeader component to eliminate header duplication
  frontend/src/components/AdminDashboard/AdminDashboard.tsx
  frontend/src/components/AdminDashboard/DUPLICATION_ELIMINATION_SUMMARY.md
  frontend/src/components/AdminDashboard/components/AdminHeader.tsx
  frontend/src/components/AdminDashboard/components/index.ts
  frontend/src/pages/AdminDashboard.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

refactor(docs): update styling and navigation links across documentation pages
  backend/app/docs/redocs/comprehensive.html
  backend/app/docs/redocs/index.html
  backend/app/docs/redocs/landing.html
  backend/app/docs/redocs/swagger.html
  frontend/src/components/AdminDashboard/DUPLICATION_ELIMINATION_SUMMARY.md
  frontend/src/pages/AdminDashboard.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): enhance typography compliance and eliminate duplication
  backend/app/docs/redocs/comprehensive.html
  backend/app/docs/redocs/design-system.css
  backend/app/docs/redocs/index.html
  backend/app/docs/redocs/landing.html
  backend/app/docs/redocs/swagger.html
  frontend/src/components/AdminDashboard/COMPONENT_REVIEW.md
  frontend/src/components/AdminDashboard/DUPLICATION_ELIMINATION_SUMMARY.md
  frontend/src/components/AdminDashboard/DashboardCustomization.tsx
  frontend/src/components/AdminDashboard/HealthTab.tsx
  frontend/src/components/AdminDashboard/LogFilterForm.tsx
  frontend/src/components/AdminDashboard/LogsTab.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): enhance design system compliance across components
  frontend/src/components/AdminDashboard/AdminDashboard.tsx
  frontend/src/components/AdminDashboard/DESIGN_SYSTEM_COMPLIANCE.md
  frontend/src/components/AdminDashboard/components/AdminCard.tsx
  frontend/src/components/AdminDashboard/components/AdminHeader.tsx
  frontend/src/components/AdminDashboard/components/AdminLoading.tsx
  frontend/src/components/AdminDashboard/components/AdminTypography.tsx
  frontend/src/components/AdminDashboard/components/index.ts
  frontend/src/components/AdminDashboard/utils/designSystemHelpers.ts
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): document comprehensive fixes and enhancements for AdminDashboard components
  frontend/src/components/AdminDashboard/FIXES_SUMMARY.md
  frontend/src/components/AdminDashboard/__tests__/AdminComponents.test.tsx
  frontend/src/components/AdminDashboard/components/AdminCard.tsx
  frontend/src/components/AdminDashboard/components/AdminHeader.tsx
  frontend/src/components/AdminDashboard/components/AdminLoading.tsx
  frontend/src/components/AdminDashboard/components/AdminTypography.tsx
  frontend/src/components/AdminDashboard/components/index.ts
  frontend/src/components/AdminDashboard/utils/designSystemHelpers.ts
  frontend/src/pages/AdminDashboard/AdminDashboardOverview.stories.tsx
  frontend/src/pages/AdminDashboard/PERFORMANCE_OPTIMIZATIONS.md
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): enhance AdminDashboard components with design system compliance and performance optimizations
  frontend/src/components/AdminDashboard/FIXES_SUMMARY.md
  frontend/src/components/AdminDashboard/UserManagement.tsx
  frontend/src/pages/AdminDashboard/Components.stories.tsx
  frontend/src/pages/AdminDashboard/Documentation.stories.tsx
  frontend/src/pages/AdminDashboard/HealthMonitoring.stories.tsx
  frontend/src/pages/AdminDashboard/SecurityAudit.stories.tsx
  frontend/src/pages/AdminDashboard/SystemMetrics.stories.tsx
  frontend/src/pages/AdminDashboard/UserManagement.stories.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

feat(admin-dashboard): enhance AdminHeader component with variant support and improved styling
  frontend/src/components/AdminDashboard/components/AdminHeader.tsx
  frontend/src/pages/AdminDashboard/PERFORMANCE_OPTIMIZATIONS.md
  frontend/src/pages/AdminDashboard/SecurityAudit.stories.tsx
Due: frontend-lint, frontend-format, no-legacy-ui-imports

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  no-legacy-ui-imports: any of: ^frontend/.*\.(ts|tsx)$
